
.main{
	display: flex;
	justify-content: space-around;
	flex-direction:row;
	flex-wrap: wrap;
	width: 98vw;
	height: 98vh;
}
.verde{
	background: green;
	width: 150px;
	height: 150px;
}

.asul{
	background: blue;
	width: 150px;
	height: 150px;
}